# Data Round-Trip

In [1]:
import pandas as pd

## CSV

Read the CSV file `large_countries_2015.csv`

In [7]:
countries = pd.read_csv('/Users/braulio/Documents/large_countries_2015.csv', index_col=0)
countries

                 population  fertility      continent
Bangladesh     1.609956e+08       2.12           Asia
Brazil         2.078475e+08       1.78  South America
China          1.376049e+09       1.57           Asia
India          1.311051e+09       2.43           Asia
Indonesia      2.575638e+08       2.28           Asia
Japan          1.265735e+08       1.45           Asia
Mexico         1.270172e+08       2.13  North America
Nigeria        1.822020e+08       5.89         Africa
Pakistan       1.889249e+08       3.04           Asia
Philippines    1.006994e+08       2.98           Asia
Russia         1.434569e+08       1.61         Europe
United States  3.217736e+08       1.97  North America

## Excel

* Write the data into an Excel file
* Read the data again

In [8]:
countries.to_excel("output.xlsx")
pd.read_excel("output.xlsx")

       Unnamed: 0  population  fertility      continent
0      Bangladesh   160995642       2.12           Asia
1          Brazil   207847528       1.78  South America
2           China  1376048943       1.57           Asia
3           India  1311050527       2.43           Asia
4       Indonesia   257563815       2.28           Asia
5           Japan   126573481       1.45           Asia
6          Mexico   127017224       2.13  North America
7         Nigeria   182201962       5.89         Africa
8        Pakistan   188924874       3.04           Asia
9     Philippines   100699395       2.98           Asia
10         Russia   143456918       1.61         Europe
11  United States   321773631       1.97  North America

## JSON - Java Script Object Notation

* Write the data into a JSON file
* Read the data again

In [18]:
countries.to_json('jsonfile')
countries

                 population  fertility      continent
Bangladesh     1.609956e+08       2.12           Asia
Brazil         2.078475e+08       1.78  South America
China          1.376049e+09       1.57           Asia
India          1.311051e+09       2.43           Asia
Indonesia      2.575638e+08       2.28           Asia
Japan          1.265735e+08       1.45           Asia
Mexico         1.270172e+08       2.13  North America
Nigeria        1.822020e+08       5.89         Africa
Pakistan       1.889249e+08       3.04           Asia
Philippines    1.006994e+08       2.98           Asia
Russia         1.434569e+08       1.61         Europe
United States  3.217736e+08       1.97  North America

## SQL

Install the library SQLAlchemy:

In [14]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Applications/anaconda3/lib/python3.7/site-packages (1.3.13)

Create a connection to a new SQLite database:

In [15]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///mydatabase.db')

Write the data into the database:

In [16]:
df = pd.DataFrame()
df.to_sql('countries', db)

Check that a database file has been created in your current working directory:

In [19]:
!ls

data_round_trip.ipynb jsonfile              second_file.txt
first_file.txt        mydatabase.db
json                  output.xlsx

Inspect the file that was created in a text editor. Do not spend more than 1-2 minutes on this.

*Dont worry if this is completely new to you. We will cover SQL later in the course*