In [4]:
#import pandas as pd
import pandas as pd

#### 1. read the file into a DataFrame ####

In [6]:
df = pd.read_csv('/Users/braulio/Downloads/continents.csv', sep = ";")
df

         continent    country
0           Africa    Algeria
1           Africa     Angola
2           Africa      Benin
3           Africa   Botswana
4           Africa    Burkina
..             ...        ...
189  South America   Paraguay
190  South America       Peru
191  South America   Suriname
192  South America    Uruguay
193  South America  Venezuela

[194 rows x 2 columns]

#### 2. display the number of rows and columns ####

In [10]:
df.shape

(194, 2)

#### 3. display the first 5 countries in the alphabet ####

In [20]:
df.sort_values("country").head(5)

   continent      country
54      Asia  Afghanistan
98    Europe      Albania
0     Africa      Algeria
99    Europe      Andorra
1     Africa       Angola

#### 4. which continent has the most countries? ####

In [55]:
#df.sort_values("country").value_counts().head(1)

continents = df['continent']
continents.value_counts()

Africa                   54
Europe                   47
Asia                     44
North America            23
Australia and Oceania    14
South America            12
Name: continent, dtype: int64

#### 5. find out on which continent Cyprus is ####

In [26]:
df[df['country'] == 'Cyprus']

    continent country
108    Europe  Cyprus

#### 6. define a DataFrame with all African countries ####

In [29]:
africa = df[df['continent'] == 'Africa']
africa

   continent                        country
0     Africa                        Algeria
1     Africa                         Angola
2     Africa                          Benin
3     Africa                       Botswana
4     Africa                        Burkina
5     Africa                        Burundi
6     Africa                       Cameroon
7     Africa                     Cape Verde
8     Africa       Central African Republic
9     Africa                           Chad
10    Africa                        Comoros
11    Africa                          Congo
12    Africa  Congo, Democratic Republic of
13    Africa                       Djibouti
14    Africa                          Egypt
15    Africa              Equatorial Guinea
16    Africa                        Eritrea
17    Africa                       Ethiopia
18    Africa                          Gabon
19    Africa                         Gambia
20    Africa                          Ghana
21    Africa                         Guinea
22    Africa                  Guinea-Bissau
23    Africa                    Ivory Coast
24    Africa                          Kenya
25    Africa                        Lesotho
26    Africa                        Liberia
27    Africa                          Libya
28    Africa                     Madagascar
29    Africa                         Malawi
30    Africa                           Mali
31    Africa                     Mauritania
32    Africa                      Mauritius
33    Africa                        Morocco
34    Africa                     Mozambique
35    Africa                        Namibia
36    Africa                          Niger
37    Africa                        Nigeria
38    Africa                         Rwanda
39    Africa          Sao Tome and Principe
40    Africa                        Senegal
41    Africa                     Seychelles
42    Africa                   Sierra Leone
43    Africa                        Somalia
44    Africa                   South Africa
45    Africa                    South Sudan
46    Africa                          Sudan
47    Africa                      Swaziland
48    Africa                       Tanzania
49    Africa                           Togo
50    Africa                        Tunisia
51    Africa                         Uganda
52    Africa                         Zambia
53    Africa                       Zimbabwe

#### 7. define a DataFrame with countries 80 through 100 ####

In [33]:
subset = df.iloc[80:101]
subset

    continent               country
80       Asia                 Nepal
81       Asia                  Oman
82       Asia              Pakistan
83       Asia           Philippines
84       Asia                 Qatar
85       Asia    Russian Federation
86       Asia          Saudi Arabia
87       Asia             Singapore
88       Asia             Sri Lanka
89       Asia                 Syria
90       Asia            Tajikistan
91       Asia              Thailand
92       Asia                Turkey
93       Asia          Turkmenistan
94       Asia  United Arab Emirates
95       Asia            Uzbekistan
96       Asia               Vietnam
97       Asia                 Yemen
98     Europe               Albania
99     Europe               Andorra
100    Europe               Armenia

#### 8. select every second country ####

In [35]:
df[::2]

         continent                   country
0           Africa                   Algeria
2           Africa                     Benin
4           Africa                   Burkina
6           Africa                  Cameroon
8           Africa  Central African Republic
..             ...                       ...
184  South America                    Brazil
186  South America                  Colombia
188  South America                    Guyana
190  South America                      Peru
192  South America                   Uruguay

[97 rows x 2 columns]

#### 9. select 10 random countries ####

In [39]:
df.sample(10)

         continent             country
62            Asia          East Timor
114         Europe             Georgia
161  North America           Nicaragua
158  North America            Honduras
59            Asia     Burma (Myanmar)
85            Asia  Russian Federation
67            Asia              Israel
123         Europe           Lithuania
44          Africa        South Africa
30          Africa                Mali

#### 10. select all countries having two or more As ####

In [15]:
df.loc[df['country'].str.upper().str.count('A') > 1]

                 continent                   country
0                   Africa                   Algeria
1                   Africa                    Angola
3                   Africa                  Botswana
8                   Africa  Central African Republic
15                  Africa         Equatorial Guinea
..                     ...                       ...
177  Australia and Oceania                     Samoa
181  Australia and Oceania                   Vanuatu
182          South America                 Argentina
188          South America                    Guyana
189          South America                  Paraguay

[77 rows x 2 columns]